@import '../../../theme/variables';

:host{
  width: 100%;

  ion-card {
    width: 96%;
    height: 10em;
    background: $fourtiary;
    margin-bottom: 10px;
    margin: 0 auto;

    .card-image{
      height: 100%;
    }

  }

}
