@import '../../../theme/variables';

:host ::ng-deep .swiper-pagination{

  .swiper-pagination-bullet {
    background-color: $primary;
  }
}

:host{
  width: 100%;
  // min-height: 210px;
}

swiper {
  // margin-top: 10px;
  // margin-bottom: 10px;
  // min-height: 180px;

  ng-template{
    min-height: 100px;
  }
}
